<!--
<input type='range' step='.1' max='2' min='0' (change)="setZoom(this.value)">
    <button (click)="setZoom(1)">
      Reset Zoom
    </button>
-->
<div class="container">
    <button (click)="sendCanvas()" *ngIf="this.editable" id="submitChangesButton" class="btn btn-primary" [disabled]="!this.hasUnsavedChanges">Submit changes</button>
    <small *ngIf="this.hasUnsavedChanges" class="text-danger">Unsaved changes*</small>
    <button (click)="clickedDelete()" *ngIf="this.editable" class="btn btn-danger" [disabled]="!this.itemSelected">Delete selected item</button>
    <canvas id="canvas" width="500" height="500" style="border: 1px solid red;"></canvas>
</div>