<div id="container">
{{ sectorForm.value | json }}
<form (submit)="onSubmit()" class="reactiveForm" [formGroup]="sectorForm">
	<h3>Add sector</h3>
	<div class="form-group row">
		<label for="title" class="col-2 col-form-label">Title:</label>
		<div class="col-10">
			<input class="form-control" type="text" id="sectorTitle" placeholder="Title" 
				formControlName="title">
				<small class="text-danger" 
				*ngIf="sectorForm.controls.title.touched && sectorForm.controls.title.errors?.required">
				Title is required</small>
		</div>
	</div>

	<fieldset class="form-group">
		<legend>Sector type</legend>
		<div class="row">
			<div class="form-check col">
			<label class="form-check-label">
				<input type="radio" class="form-check-input" formControlName="type" id="optionsRadios1" value="seats" (click)="radioSeatsCheck()">
				Seats sector
			</label>
			</div>
			<div class="form-check col">
			<label class="form-check-label">
				<input type="radio" class="form-check-input" formControlName="type" id="optionsRadios2" value="stand" (click)="radioStandCheck()">
				Stand sector
			</label>
			</div>
		</div>
	  </fieldset>

	  <div class="row">
		<div class="col">
			<div class="form-group row">
				<label class="col-form-label-sm" for="inputRow">Rows</label>
				<input type="text" class="form-control" formControlName="row_num" placeholder="Number of rows" id="inputRow" [hidden]="!showRowColInput">
				<small class="text-danger" 
				*ngIf="sectorForm.controls.row_num.touched && sectorForm.errors?.sectorTypeFormValidator && sectorForm.controls.type.value === 'seats'">
				Enter a number</small>
			</div>
			
			<div class="form-group row">
				<label class="col-form-label-sm" for="inputCol">Columns</label>
				<input type="text" class="form-control" formControlName="column_num" placeholder="Number of columns" id="inputCol" [hidden]="!showRowColInput">
				<small class="text-danger" 
				*ngIf="sectorForm.controls.row_num.touched && sectorForm.controls.column_num.touched && sectorForm.errors?.sectorTypeFormValidator && sectorForm.controls.type.value === 'seats'">
				Enter a number</small>
			</div>

		</div>

		<div class="form-group col">
			<label class="col-form-label-sm" for="inputMaxGuests">Max guests</label>
			<input type="text" class="form-control" formControlName="max_guests" placeholder="Max guests" id="inputMaxGuests" [hidden]="!showMaxGuestsInput">
			<small class="text-danger" 
				*ngIf="sectorForm.controls.max_guests.touched && sectorForm.errors?.sectorTypeFormValidator && sectorForm.controls.type.value === 'stand'">
				Enter a number</small>
		</div>
	</div>
	  

    <div class="form-group row float-right">
		<div class="col-12">
			<button class="btn btn-primary " type="submit" [disabled]="sectorForm.invalid">Add sector</button>
		</div>
	</div>
</form>
</div>
