<div class="row mt-5 ml-3 mb-3">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search events..">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Search</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="row">
    <div class="col ml-2 mb-3">
      <h1 class="mt-2 mb-3">All Upcoming Events</h1>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col">
      <app-user-event-list></app-user-event-list>
    </div>
</div>
