{{ location | json}}
<form #locationForm="ngForm" novalidate>
	<h3 class="mt-2 mb-4">Add location</h3>
	<div class="form-group row">
		<label for="title" class="col-2 col-form-label">Title:</label>
		<div class="col-10">
			<input class="form-control" type="text" id="title" placeholder="Title" 
				name="title" [(ngModel)]="location.title" #title="ngModel" required>
			<small *ngIf="title.touched && title.errors?.required" class="text-danger">
					Title is required</small>
		</div>
	</div>

	<div class="form-group row">
		<label for="address" class="col-2 col-form-label">Address:</label>
		<div class="col-10">
			<input class="form-control" type="text" id="address" placeholder="Address"
				name="address" [(ngModel)]="location.address" #address="ngModel" required>
			<small *ngIf="address.touched && address.errors?.required" class="text-danger">
					Address is required</small>
		</div>
	</div>
	<div class="row-col-2">
		<div class="row">
			<div class="col">
				<app-sector-canvas [sectors]="location.sectors" (deleteSectorClicked)="deleteSector($event)" (submitChangesEvent)="editSectors($event)" [numberOfSectors]="numOfSectors" [editable]="true" [showDeleteButton]="true" [sectorForDelete]="sectorForDelete"></app-sector-canvas>
			</div>
			<div class="col">
				<app-add-sector (newSector)="addNewSector($event)"></app-add-sector>
			</div>
		</div>
	</div>
	<div class="form-group row float-right">
		<div class="col-12">
			<button class="btn btn-primary " id="addLocationBtn" type="submit" (click)="addLocation()" [disabled]="locationForm.invalid">Add location</button>
		</div>
	</div>
</form>
